# Dependencies
node_modules/
**/node_modules/

# Builds
dist/
build/
out/
public/build/
public/dist/

# Temp / cache
.tmp/
temp/
cache/
.npm/
.pnpm-store/
.yarn/
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.yarn/build-state.yml

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# Typescript
*.tsbuildinfo

# Editor / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Tests
coverage/

# Misc
*.bak
*.tmp

